{% extends '::base.html.twig' %}
{#{% block title %}Sharepay | {{ "settings"|trans }}{% endblock %}#}
{% block body %}
    <div class="row">&nbsp;
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-table"></i>
                        <span>{{ 'TruckList'|trans}}</span>
                    </div>
                    <div class="box-icons">
                        <a class="a">
                            <i class="fa fa-edit edit-datatable"></i>
                        </a>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="expand-link">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content">
                    <table class="table beauty-table table-hover editable" id="truck">
                        <thead>
                        <tr>
                            <th>{{ 'Nr'|trans }}</th>
                            <th>{{ 'RegistrationNumber'|trans }}</th>
                            <th>{{ 'Model'|trans }}</th>
                            <th>{{ 'VIN'|trans }}</th>
                            <th>{{ 'CreatedDate'|trans }}</th>
                            <th>{{ 'ITPDate'|trans }}</th>
                            <th>{{ 'LicenceDate'|trans }}</th>
                            <th>{{ 'RCADate'|trans }}</th>
                            <th>{{ 'TachographDate'|trans }}</th>
                            <th>{{ 'CMRDate'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>

                        {#
                        {% for Key,EachTruck in Trucks %}
                        <tr>
                            <td>{{ EachTruck.RegistrationNumber }}</td>
                            <td><input type="text" value="{{ EachTruck.Model }}"></td>
                            <td><input type="text" value="{{ EachTruck.VIN }}"></td>
                            <td><input type="text" value="{{ EachTruck.CreatedDate }}"></td>
                            <td><input type="text" value="{{ EachTruck.ITPDate }}"></td>
                            <td><input type="text" value="{{ EachTruck.LicenceDate }}"></td>
                            <td><input type="text" value="{{ EachTruck.RCADate }}"></td>
                            <td><input type="text" value="{{ EachTruck.TachographDate }}"></td>
                            <td><input type="text" value="{{ EachTruck.CMRDate }}"></td>
                        </tr>
                        {% endfor %}
#}
                        </tbody>
                    </table>
                    <input type="hidden" value="" name="InEditMode">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        UpdatePath                      = '{{ path('json_update_truck',{ 'id': '_id_' }) }}';
        RetrieveTruckColumnsLengthPath  = '{{ path('json_retrieve_truck_columns_length') }}'
        DeletePath                     = '{{ path('json_delete_truck',{'id':'_id_'}) }}';
        CreatePath                     = '{{ path('json_create_truck') }}';
        RetrieveTruck                   = '{{ path('json_list_trucks') }}';
        EditDatatable                   = $('i.edit-datatable').parent();
        EditMode                        = $('input[name="InEditMode"]');
        DataTableID                     = $('#truck');
        EditModeInput                   = {'position':'absolute','width':'150px'};
        RetrieveJoinData                = '';
        JoinParameters                  = {};

        $(function () {
            EditMode.val('');

            /*
            $('table.editable tbody td input').on('click',function(){
                setEditable('table.editable tbody',true,[0,2]);
            });
*/
            $("#truck").dataTable({
                "bServerSide": true,
                "sAjaxSource": RetrieveTruck,
                "bFilter": false,
                "order": [[ 0, "desc" ]],
                "language": {
                    "emptyTable":     "{{ "DatatableEmpty"|trans }}",
                    "info":           "{{ "DatatableInfo"|trans }}",
                    "infoEmpty":      "{{ "DatatableInfoEmpty"|trans }}",
                    "infoFiltered":   "{{ "DatatableInfoFiltered"|trans }}",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "{{ "DatatableLengthMenu"|trans }}",

                    "loadingRecords": "{{ "DatatableLoadingRecords"|trans }}",
                    "processing":     "{{ "DatatableProcessing"|trans }}",
                    "search":         "{{ "DatatableSearch"|trans }}",
                    "zeroRecords":    "{{ "DatatableZeroRecords"|trans }}",
                    "paginate": {
                        "first":      "{{ "DatatableFirst"|trans }}",
                        "last":       "{{ "DatatableLast"|trans }}",
                        "next":       "{{ "DatatableNext"|trans }}",
                        "previous":   "{{ "DatatablePrvious"|trans }}"
                    },
                    "aria": {
                        "sortAscending":  "{{ "DatatableSortAscending"|trans }}",
                        "sortDescending": "{{ "DatatableSortDescending"|trans }}"
                    }
                },
                "aoColumns": [{
                    "mData":"id"
                },{
                    "mData":"registrationNumber"
                },{
                    "mData": "model"
                },{
                    "mData": "vin"
                },{
                    "mData": "createdDate",
                    "mRender": function(data){
                        return convertTimestamp(data);
                    }
                },{
                    "mData":"itpDate",
                    "mRender": function(data){
                     return convertTimestamp(data);
                     }
                },{
                    "mData":"licenceDate",
                    "mRender": function(data){
                        return convertTimestamp(data);
                    }
                },{
                    "mData":"rcaDate",
                    "mRender": function(data){
                        return convertTimestamp(data);
                    }
                },{
                    "mData":"tachographDate",
                    "mRender": function(data){
                        return convertTimestamp(data);
                    }
                },{
                    "mData":"cmrDate",
                    "mRender": function(data){
                        return convertTimestamp(data);
                    }
                }],
                fnDrawCallback: function(object) {
                    var Table = 'table.editable';
                    var TableTbody = Table+' tbody';
                    var TableRows = $('tr',TableTbody).length+1;
                    var InEditMode = Boolean(EditMode.val());
                    var classHide = '';
                    if(!InEditMode){
                        classHide = 'hide';
                    }

                    var html = '<tr id="0"  order="'+(TableRows-1)+'" class="'+classHide+'">'+
                    '<td>&nbsp;<i class="fa fa-save"></i></td>'+
                    '<td style="position:relative;"><input type="text" value="" class="datatable-default-element-focused" name="1" style="position:absolute;"></td>'+
                    '<td style="position:relative;"><input type="text" value="" name="2" style="position:absolute;"></td>'+
                    '<td style="position:relative;"><input type="text" value="" name="3" style="position:absolute;"></td>'+
                    '<td style="position:relative;"><input type="text" value="" name="4" style="position:absolute;"></td>'+
                    '<td style="position:relative;"><input type="text" value="" name="5" style="position:absolute;"></td>'+
                    '<td style="position:relative;"><input type="text" value="" name="6" style="position:absolute;"></td>'+
                    '<td style="position:relative;"><input type="text" value="" name="7" style="position:absolute;"></td>'+
                    '<td style="position:relative;"><input type="text" value="" name="8" style="position:absolute;"></td>'+
                    '<td style="position:relative;"><input type="text" value="" name="9" style="position:absolute;"></td>'+
                    '</tr>';

                    $('table.editable tbody').append(html);
                    $('table.editable tbody tr').each(function( index ) {
                        var value = $(this).attr('id');
                        $(this).attr('id',parseInt(value)-1);
                    });
                    setEditable(TableTbody,[0]);
                    $(TableTbody+' .datatable-default-element-focused').trigger('click');
//                    $(TableTbody+' .datatable-default-element-focused').focus();
                    $.ajax({
                        //mimeType: 'text/html; charset=utf-8', // ! Need set mimeType only when run from local file
                        url: RetrieveTruckColumnsLengthPath,
                        type: 'GET',
                        success: function(data) {
                            $.each(object.aoColumns, function( index, value ) {
                                var column = value.mData.toLowerCase();
                                $('thead th:nth-child('+(index+1)+')', Table).attr('data-length',data[column]);
                                $('thead th:nth-child('+(index+1)+')', Table).attr('data-column-name',column);
                                $('tr:last td:nth-child('+(index+1)+') input', TableTbody).attr('maxlength',data[column]);
                                var isDate = column.slice(-4) == 'date';
                                if(isDate){
                                    //'placeholder="DD-MM-YYYY" data-mask="date"'
                                    $('tr:last td:nth-child('+(index+1)+') input', TableTbody).attr('placeholder','DD-MM-YYYY');
                                    $('tr:last td:nth-child('+(index+1)+') input', TableTbody).attr('data-mask','date');
                                }
                            });
                            $("[data-mask='date']").mask("99-99-9999");
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        },
                        dataType: "json",
                        async: true
                    });

                    if(InEditMode){
                        createDeleteRow(TableTbody);
                    }
                },
                fnCreatedRow: function( nRow, aData, iDataIndex ) {
                    $(nRow).attr('id', aData.id+1);
                    $(nRow).attr('order', iDataIndex);
                }
            });
        })
    </script>
{% endblock javascripts %}